---
layout: default
title: Blog
icon: library_books
order: 3
---
<div class="paper-home">
  {% for post in paginator.posts %}
    <div class="post">
      <div class="header">
        <h5 class="subheader">
          {{ post.date | date: "%Y/%m/%d" }}
        </h5>
        <h1 class="blog-article-title"><a class="mdl-color-text--grey-800" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </div>
      {{ site.excerpt_separator }}
      {% if post.content contains site.excerpt_separator %}
        {{ post.excerpt }}
        <a class="mdl-button mdl-button--accent" href="{{ post.url | prepend: site.baseurl }}">続きを読む</a>
      {% else %}
         {{ post.content | markdownify }}
      {% endif %}
    </div>
  {% endfor %}

  <div class="mdl-grid pagination">
    <div class="mdl-cell mdl-cell--4-col previous">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="mdl-button mdl-button--primary" href="{{ "/blog/" | prepend: site.baseurl }}">&larr; Newer</a>
        {% else %}
          <a class="mdl-button mdl-button--primary" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | prepend: site.baseurl }}">&larr; Newer</a>
        {% endif %}
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>&larr; Newer</a>
      {% endif %}
    </div>

    <div class="mdl-cell mdl-cell--4-col indicator subheader">
      Page {{ paginator.page }} / {{ paginator.total_pages }}
    </div>

    <div class="mdl-cell mdl-cell--4-col next">
      {% if paginator.next_page %}
        <a class="mdl-button mdl-button--primary" href="{{ site.paginate_path | replace: ':num', paginator.next_page | prepend: site.baseurl \}}">Older &rarr;</a>
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>Older &rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
